:host {
    border-radius: 4px;
    margin: 0.4rem auto;
    padding: 0;
    display: flex;
}

.desc {
    padding: 0.5rem;
    /*border: 1px solid black;*/
    border-radius: 4px;
    font-size: 0.9rem;
    color: white;
    margin: 0.4rem auto;
    background: chocolate;
    min-height: 1rem;
    cursor: initial;
    white-space: pre-wrap;
    flex: 1;
}

.new-event {
    /* border:2px solid chocolate; */
    box-shadow: 0 0 10px chocolate;
    font-weight: bold;
    color:white
}

.new-event-label {
    display: inline-block;
    color: darkgreen;
    background:  lawngreen;
    border-radius: 4px;
    font-size: 0.8rem;
    font-variant: small-caps;
}

.event-actions {
    /*outline: 1px solid black;*/
    align-self: center;
    width: 10rem;
}

.event-date {
    padding: 0;
    margin: 0.4rem;
    width: 8rem;
    vertical-align: top;
}

.btn {
    font: inherit;
    cursor: pointer;
    border: none;
    padding: 0.5rem 0.5rem;
    border-radius: 4px;
    background-color: brown;
    color: white;
    margin: 0.4rem;
    ;
}
