<div class="event-item" >
    <div class="event-date">{{ event().eventDate|  date:'short' }}</div>
    <div class="desc"
         draggable="true"
         (dblclick)="showEditDialog()"
         (dragstart)="onDragStart($event)"
         (dragover)="onDragOver($event)"
         (drop)="onDrop($event)"
         (dragend)="onDragEnd($event)"
         [class.new-event]="event().isNewEvent"
         (mouseenter)="onMouseEnter()">
        {{ event().eventDescription }}
    </div>
<!--    <div class="event-actions">-->
<!--        <button [disabled]="!canDelete()" (click)="delete.emit()">del</button>-->
<!--    </div>-->

</div>
@if(showEdit()) {
    <app-edit-item  [description]="event().eventDescription" (close)="updateEventDesc($event)"></app-edit-item>
}
