<div class="event-item" >
    <div class="event-date">{{ event().eventDate|  date:'short' }}</div>
    <div class="desc"
         [draggable]="editable()"
         (dblclick)="showEditDialog()"
         (dragstart)="onDragStart($event)"
         (dragover)="onDragOver($event)"
         (drop)="onDrop($event)"
         (dragend)="onDragEnd($event)"
         [class.new-event]="event().isNewEvent"
         (mouseenter)="onMouseEnter()">
         @if(event().isNewEvent) {
        <div class="new-event-label">(new)</div>
         }
        {{ event().eventDescription }}
    </div>

</div>
@if(showEdit()) {
    <app-edit-item  [description]="event().eventDescription" (close)="updateEventDesc($event)"></app-edit-item>
}
