
label {
    font-weight: bold;
    font-family: inherit;
    margin: 0.5rem;
    vertical-align: top;
    padding: 0.5rem;
}

input, textarea {
    font: inherit;
    background: white;
    margin: 0.5rem;
}

button {
    font: inherit;
    cursor: pointer;
    border: none;
    padding: 0.35rem 1.25rem;
    border-radius: 4px;
    background-color: brown;
    color: white;
    margin: auto 0.5rem;
}

button:disabled {
    background-color: chocolate;
    color: darkgray;
    cursor: not-allowed;
}
