:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.repo-list {
    margin: 0 0.5rem;
    padding: 0;
}

.repo-item {
    list-style-type: none;
    margin: 0.5rem 0;
    cursor: pointer;
}

.selected {
    font-weight:  bold;
    list-style: disc;
}
