.form-item {
    margin: 0.2rem;
    padding: 0.2rem;
}

.form-item > * {
    margin: 0.2rem;
    display: inline-block;
}
.control-row {
    margin: 0.5rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.5rem;
}

label {
    font-weight: bold;
    vertical-align: top;
}

input:enabled, textarea,select:enabled {
    font: inherit;
    background: white;
}

button {
    font: inherit;
    cursor: pointer;
    border: none;
    padding: 0.3rem 0.3rem;
    border-radius: 4px;
    background-color: brown;
    color: white;
    margin: 0.5rem 0.5rem 0 0.5rem;
}

.project-actions p {
    padding: 0 0.3rem;
    margin: 0.5rem;
}

.disabled {
    background-color: bisque;
    color: darkgray;
    cursor: not-allowed;
}

.help {
    font-size: 0.8rem;
}
