<h3>Select a repository to create a project from it</h3>
@if (isLoading()) {
    <div class="spinner-container">
        <div class="spinner"></div>
        <p>{{ loadingMessage }}</p>
    </div>
} @else {
    <app-create-project-form
        [name]="projectName()"
        [description]="projectDescription()"
        [canCreate]="selectedRepo() !== undefined"
        (save)="createProject($event)"
        (cancel)="cancelNavigation()"/>
    <div class="create-project">
            @if (gitRepos().length > 0) {
                <app-select-repository [repositories]="gitRepos()" (selected)="selectRepo($event)"/>
            } @else {
                <p>You don't have any repositories to create a project off of.</p>
            }
            @if (gitCommits().length > 0) {

                <app-commit-list [commits]="gitCommits()"/>
            } @else {
                <div></div>
            }
    </div>


}

<!-- todo for diffenent create options
  <fieldset class="create-setting">
        <legend>Choose how to create this project:</legend>
        <div>
            <input type="radio" id="newRepo" name="repo-option" value="existing" />
            <label for="newRepo">Create a new repository with the project</label>
       </div>
       <div>
            <input type="radio" id="existingRepo"  name="repo-option" value="newRepo" />
            <label for="newRepoName">Crete project using selected repository</label>
        </div>
        <div>
            <input type="radio" id="emptyRepo" name="repo-option" value="emptyRepo"/>
            <label for="emptyRepo">Create a project without a repository</label>
        </div>
    </fieldset>
    <div class="new-repo">
        <label for="newRepoName">New repository name:</label>
        <input type="text" id="newRepoName" placeholder="Enter new repository name" />
        <label for="newRepoDescription">New repository description:</label>
        <textarea cols="75" row="15" id="newRepoDescription" placeholder="Enter new repository description"></textarea>
    <fieldset class="new-repo-options">
        <legend>Choose how to create the repository for this project:</legend>
        <div>
            <input type="checkbox" id="chk-private" name="chk-private" value="private" />
            <label for="chk=private">Private repository</label>
            <input type="checkbox" id="chk-readme" name="chk-readme" value="new" />
            <label for="chk=private">Create readme</label>
        </div>
    </fieldset>
    </div> -->
