    <h3>Project List</h3>
    @if (isLoading) {
       <div class="spinner-container">
        <div class="spinner"></div>
        <p>Loading repositories...</p>
    </div>
    }
@else if (projects.length==0) {
    <p>You don't have any project. Do you want to <a [routerLink]="'/create-project'"> create one from </a>a repository?</p>
}
@else {
    <ul>
     @for(project of projects; track project.id ) {
        <!-- <p><a [routerLink]="['/repo', repo.projectName]" >{{repo.projectName }}</a> is private: {{ repo.repoIsPrivate ? 'true' : 'false' }} </p> -->
         <ul><a [routerLink]="['/project', project.id]"> <span class="ul-link">{{project.name }}</span></a>:  {{ project.description }} </ul>
    }
    </ul>
    <p> <a [routerLink]="'/create-project'">Create a project</a></p>
}
