.new-event {
    position: sticky;
    top: 0;
    background: bisque;
    margin: auto;
    padding: 0.5rem;
}
.new-event > * {
    display: inline-block;
    margin: 0.2rem;
    padding: 0.2rem;
    vertical-align: top;
}

.disabled {
    background-color: bisque;
    color: darkgray;
    cursor: not-allowed;
}

button {
    font: inherit;
    cursor: pointer;
    border: none;
    padding: 0.3rem 0.3rem;
    border-radius: 4px;
    background-color: brown;
    color: white;
    margin: auto  0.5rem;
}
